{{> head}}
<body>
    <center>
        <h2>Машинки</h2>
        {{#each carsList}}
            <li>
                <label>
                    <span>id: {{id}}//</span>
                    <span>model: {{model}}//</span>
                    <span>price: {{price}}//</span>
                    <span>power: {{power}}//</span>
                    <span>description: {{description}}//</span>
                    <span>brandName: {{brandName}}//</span>
                </label>
            </li>
        {{/each}}
    </center>
</body>
</html>